@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="titleText">Welcome to the vip Starwars SpacePark</h1>
</div>
    <div class="buttonContainer">
        <button class="button">Park <br/> Starship</button>
        <button class="button">Pay and Leave</button>
    </div>
