@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}


<div class="text-center">
    <h1 class="titleText">Welcome to the vip Starwars SpacePark</h1>
</div>
    <div class="buttonContainer">
        <a href="/Park"><button class="button" ><div class="bordertop"></div>Park Starship</button></a>

        <a href="/Pay"><button class="button">Pay and Leave</button></a>
    </div>
