@page
@model ParkModel
@{
    ViewData["Title"] = "Park page";
}

<div class="text-center">
    <h1 class="titleText">Welcome to the vip Starwars SpacePark</h1>
</div>

<div id="visitorInformation">
  <input id="visitorName" type="text" placeholder="Type your name...">
  <button id="postInfo">Proceed</button>
</div>


 <div id="wrapper">
        <div id="container">
          <ul id="lots"></ul>
        </div>
        <a href="/"><button class="button">Go Back To Home</button></a>
    </div>