@page
@model ParkModel
@{
    ViewData["Title"] = "Park page";
}

<div class="text-center">
    <h1 class="titleText">Welcome to the vip Starwars SpacePark</h1>
</div>
    @* <div class="formContainer">
        <form>
             <label for="fname">Name:</label><br>
                <input type="text" id="fname" name="fname" value="Your name"><br>
             <input id="input-data" type="submit" value="Submit">
        </form>
    </div> *@



  <input id="visitorName" type="text" placeholder="Type your name...">
  <button id="postInfo">Proceed</button>


