@page
@model ParkModel
@{
    ViewData["Title"] = "Park page";
}

<div class="text-center">
    <h1 class="titleText">Welcome to the vip Starwars SpacePark</h1>
</div>


  <input id="visitorName" type="text" placeholder="Type your name...">
  <button id="postInfo">Proceed</button>


 <div id="wrapper">
        <div id="container">
          hej
        </div>
    </div>