@page
@model PayModel
@{
    ViewData["Title"] = "Pay page";
}

<div class="text-center">
    <h1 class="titleText">Welcome to the vip Starwars SpacePark</h1>
</div>
<div class="wrapper">
    <input class="visitorName" id="leavingVisitorName" type="text" placeholder="Type your name...">
        <br>
    <button class="button" id="deleteInfo">Proceed to pay & leave</button>
        <br/>
    <a href="/"><button class="button">Go Back To Home</button></a>
</div>



